
body{
    cursor: pointer;
  }
  h1
  {
      color: red; 
      font-size: 40px;
  }
  #myCanvas
  {
      border-width:10px;
      background-color: rgb(255, 255, 255); 
      border-style:ridge;
  }

  button {
    background-color: #253b3b;
    border: none;
    color: rgb(53, 16, 16);
    padding: 10px 42px;
    font-size: 16px;
  }

  input
  {
    margin-right: 20px;
  }
